/* Reset CSS */

/* Box sizing rules */
html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  /* Remove default padding and margin */
  body, h1, h2, h3, p, figure, blockquote, dl, dd, ul, ol, li, pre {
    margin: 0;
    padding: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'], ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html {
    scroll-behavior: smooth;
  }
  
  /* Make images easier to work with */
  img {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-play-state: paused !important;
      transition: none !important;
    }
  }
  