// FONTS
$font-remington: 'Remington_Noiseless', 'Special Elite', sans-serif;
$font-special-elite: 'Special Elite', serif;
$font-vujahday: 'Vujahday Script', cursive;

// BACKGROUND COLORS
$bg-dark: rgb(33, 33, 33);
$bg-dark-opacity: rgba(33, 33, 33, 0.729);
$bg-light: #FDFEFC;

// FONT COLORS
$ft-dark: rgb(33, 33, 33);
$ft-light: #FDFEFC;
