// FONTS
$font-remington: 'Remington_Noiseless', 'Special Elite', sans-serif;
$font-special-elite: 'Special Elite', serif;
$font-vujahday: 'Vujahday Script', cursive;

// BACKGROUND COLORS
$bg-dark: rgb(17, 17, 17);
$bg-light: rgb(241, 241, 241);

// FONT COLORS
$ft-dark: rgb(17, 17, 17);
$ft-light: rgb(241, 241, 241);
